.display-1{ 
display: flex; 
justify-content: center;  
margin-top: 100px; 
margin-bottom: 100px; 
margin-right: 30px;
margin-left: 30px;
 } 
 #detail{ 
 display: flex; 
 flex-direction: column; 
 margin-top: 150px; 
 margin-bottom: 30px;
  } 
 body{ 
 background-image: url("http://ak0.picdn.net/shutterstock/videos/13323530/thumb/1.jpg"); }